@model WebApp_BotoneraLozanoSAC.Models.Kardex

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Kardex</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalidaCantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalidaCantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntradaCantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntradaCantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaldoCantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaldoCantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioUnitarioVenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioUnitarioVenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioUnitarioCompra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioUnitarioCompra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProductoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProductoNavigation.Descripcion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdKardex">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
